*{
    margin: 0;
    padding: 0;
}

.cards-all-books{

    margin-top: 1rem;

    display: grid;

    grid-template-columns: repeat(3,150fr);

    grid-template-rows: repeat(3,150fr);

    column-gap: 3rem;
}